body {
	margin: 0;
	font-family: Helvetica, Arial;
}

html {
	overflow: hidden; /* remove scrollbars */
}

/***********************************************	CONTAINER 		*******************/
div#container {
	position: relative;
}

canvas {
	position: absolute;
	z-index: -1;
}

div#menu { /*some basic positioning done in the game.html document load function*/
	position: absolute;

	background-color: white;
	display: none; 

	padding: 1em;
}

td {
	border: 1px solid black;
	padding: 0.5em;
}

p {
	color: white;
	display: inline-block;
	margin: 0;
	padding: 1em;
}

p#help_hint {
	float: left;
}

p#score {
	float: right;
	font-family: LCD;
	font-size: 1.8em;
}

/********************************************* 		FONTS 			*******************/ 
@font-face {
    font-family: 'LCD';
    src: url('../fonts/open_24_display_st-webfont.woff2') format('woff2'),
         url('../fonts/open_24_display_st-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}