body {
	margin: 0;
}

html {
	overflow: hidden; /* remove scrollbars */
}

div#container {
	position: relative;
}

canvas {
	position: absolute;
	z-index: -1;
}

div#menu { /*some basic positioning done in the game.html document load function*/
	position: absolute;

	background-color: white;
	display: none; 

	padding: 1em;
}

td {
	border: 1px solid black;
	padding: 0.5em;
}

p#help_hint {
	margin: 0;
	padding: 0.3em 0 0 0.3em; /*top and left*/

	color: white;
}